In [2]:
import os
os.listdir()

['.ipynb_checkpoints',
 'data.txt',
 'Implementing Naive Bayes Algorithm Sentiment Analysis Test.ipynb',
 'ioc_hash_cleaned_finaldata.csv',
 'newsmallgray.png',
 'Numpy_Tests.ipynb',
 'otx-hash-iocs_unstructured_training_with_exploit links.csv',
 'pandas-ioc-cleaningup-steps-success.ipynb',
 'pandas_tutorials_csv.ipynb',
 'smallgray.png',
 'supermarkets-commas.txt',
 'supermarkets-semi-colons.txt',
 'supermarkets.csv',
 'supermarkets.json',
 'supermarkets.xlsx',
 'Training Datasets',
 'Untitled.ipynb']

In [4]:
import pandas as pd
df1=pd.read_csv("otx-hash-iocs_unstructured_training_with_exploit links.csv")
df1

,HASH,CVE,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,176AD6129ECE312F128A3195BF5AFC130801F2E849F89B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
1,6374349443708C96AD41B3F9B891B33F7DEC65FDF13E6B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
2,6F2C41E665AAB873D213583697D70EE79AD59A2B649164...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
3,862C6EF1D24D2CBA9878B5E919683629C3516D9121F5CF...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
4,EAF0F57CBCBDA0DBD2C60C5719731DDEAB76B6A10367D2...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
...,...,...,...,...,...
49433,241075FC1493172C47D881BCBFBF21CFA4DAA42D,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49434,C86B13378BA2A41684E1F93B4C20E05FC5D3D5A3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49435,51AC683DF63FF71A0003CA17E640BBEAAA14D0AA,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49436,B491C14D8CFB48636F6095B7B16555E9A575D57F,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49437,82448EB23EA9EB3939B6F24DF46789BF7F2D43E3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN

In [5]:
df1=pd.read_csv("otx-hash-iocs_unstructured_training_with_exploit links.csv", header= None)
df1

,0,1,2,3,4
0,HASH,CVE,NaN,NaN,NaN
1,176AD6129ECE312F128A3195BF5AFC130801F2E849F89B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
2,6374349443708C96AD41B3F9B891B33F7DEC65FDF13E6B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
3,6F2C41E665AAB873D213583697D70EE79AD59A2B649164...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
4,862C6EF1D24D2CBA9878B5E919683629C3516D9121F5CF...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
...,...,...,...,...,...
49434,241075FC1493172C47D881BCBFBF21CFA4DAA42D,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49435,C86B13378BA2A41684E1F93B4C20E05FC5D3D5A3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49436,51AC683DF63FF71A0003CA17E640BBEAAA14D0AA,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49437,B491C14D8CFB48636F6095B7B16555E9A575D57F,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49438,82448EB23EA9EB3939B6F24DF46789BF7F2D43E3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN

In [6]:
df1.columns= ["HASH", "EXPLOIT", "M", "N", "O"]
df1

,HASH,EXPLOIT,M,N,O
0,HASH,CVE,NaN,NaN,NaN
1,176AD6129ECE312F128A3195BF5AFC130801F2E849F89B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
2,6374349443708C96AD41B3F9B891B33F7DEC65FDF13E6B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
3,6F2C41E665AAB873D213583697D70EE79AD59A2B649164...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
4,862C6EF1D24D2CBA9878B5E919683629C3516D9121F5CF...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
...,...,...,...,...,...
49434,241075FC1493172C47D881BCBFBF21CFA4DAA42D,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49435,C86B13378BA2A41684E1F93B4C20E05FC5D3D5A3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49436,51AC683DF63FF71A0003CA17E640BBEAAA14D0AA,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49437,B491C14D8CFB48636F6095B7B16555E9A575D57F,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49438,82448EB23EA9EB3939B6F24DF46789BF7F2D43E3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN

In [10]:
df1.drop(['M','N','O'], axis=1, inplace=False)
df1

,HASH,EXPLOIT,M,N,O
0,HASH,CVE,NaN,NaN,NaN
1,176AD6129ECE312F128A3195BF5AFC130801F2E849F89B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
2,6374349443708C96AD41B3F9B891B33F7DEC65FDF13E6B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
3,6F2C41E665AAB873D213583697D70EE79AD59A2B649164...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
4,862C6EF1D24D2CBA9878B5E919683629C3516D9121F5CF...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
...,...,...,...,...,...
49434,241075FC1493172C47D881BCBFBF21CFA4DAA42D,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49435,C86B13378BA2A41684E1F93B4C20E05FC5D3D5A3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49436,51AC683DF63FF71A0003CA17E640BBEAAA14D0AA,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49437,B491C14D8CFB48636F6095B7B16555E9A575D57F,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49438,82448EB23EA9EB3939B6F24DF46789BF7F2D43E3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN

In [12]:
df1.drop(0, axis=0, inplace=True)
df1

,HASH,EXPLOIT,M,N,O
1,176AD6129ECE312F128A3195BF5AFC130801F2E849F89B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
2,6374349443708C96AD41B3F9B891B33F7DEC65FDF13E6B...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
3,6F2C41E665AAB873D213583697D70EE79AD59A2B649164...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
4,862C6EF1D24D2CBA9878B5E919683629C3516D9121F5CF...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
5,EAF0F57CBCBDA0DBD2C60C5719731DDEAB76B6A10367D2...,"Flash Exploit, CVE-2018-4878, Spotted in The W...",NaN,NaN,NaN
...,...,...,...,...,...
49434,241075FC1493172C47D881BCBFBF21CFA4DAA42D,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49435,C86B13378BA2A41684E1F93B4C20E05FC5D3D5A3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49436,51AC683DF63FF71A0003CA17E640BBEAAA14D0AA,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49437,B491C14D8CFB48636F6095B7B16555E9A575D57F,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN
49438,82448EB23EA9EB3939B6F24DF46789BF7F2D43E3,"The Connections Between MiniDuke, CosmicDuke a...",NaN,NaN,NaN

In [13]:
df1.to_csv('ioc_hash_cleaned_finaldata.csv' , index=False)